@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
}

.gradient-blur {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #3b82f6;
  filter: blur(180px);
  opacity: 0.2;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

html {
  scroll-behavior: smooth;
}